/* Основные стили для всего документа */
body {
    font-family: 'Arial Narrow', Arial, sans-serif; /* Шрифт для текста */
    font-size: 23px; /* Увеличенный размер шрифта */
    line-height: 1.6; /* Высота строки для удобства чтения */
    margin: 90px; /* Отступы вокруг страницы */
    background-color: #FFFFF0; /* Цвет фона страницы */
}

/* Стили заголовков */
h1 {
    color: #191970; /* Цвет заголовка первого уровня */
    font-size: 45px; /* размер заголовка */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание по центру */
}

h2 {
    color: #483D8B; /* Цвет заголовка второго уровня */
}

h3 {
    color: #8B0000;
}

/* Стили для параграфов */
p {
    margin: 10px 0; /* Отступы сверху и снизу параграфов */
}

/* Стили для изображений */
img {
    max-width: 100%; /* Максимальная ширина изображения - 100% от родителя */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px; /* Скругление углов изображения */
}

/* Стили для горизонтальной линии */
hr {
    border: 1px solid #DEB887; /* Цвет и стиль линии */
    margin: 20px 0; /* Отступы сверху и снизу линии */
}

/* Стили для списков */
ul, ol {
    margin: 10px 20px; /* Отступы вокруг списков */
}

/* Выделение текста */
mark {
    background-color: #5F9EA0; /* Цвет фона для выделенного текста */
    color: white; /* Цвет текста внутри <mark> */
    padding: 2px 4px; /* Отступы вокруг выделенного текста */
    border-radius: 3px; /* Скругление углов для более мягкого вида */
    font-weight: bold; /* Жирный шрифт для акцента */
}

.highlight {
    background-color: #8FBC8F; /* Цвет фона выделенного текста */
    color: black; /* Цвет текста внутри .highlight для лучшей читаемости */
    padding: 2px 4px; /* Отступы вокруг выделенного текста */
    border-radius: 3px; /* Скругление углов для более мягкого вида */
    display: inline-block; /* Позволяет задать отступы вокруг элемента */
    font-weight: bold; /* Жирный шрифт для акцента */
}

