/* Основные стили для всего документа */
body {
    
    font-family: 'Georgia', serif; 
    font-size: 23px; 
    line-height: 1.6; 
    margin: 120px; /* Отступы вокруг страницы */
    background-color: #FFFFF0; 
}

/* Стили заголовков */
h1 {
    
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #191970; 
    font-size: 45px; 
    font-weight: bold; 
    text-align: center; 
}

h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #483D8B; 
}

h3 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #8B0000;
}

p {
    text-align: justify;
    margin: 10px 0; 
}

/* Стили для изображений */
img {
    max-width: 100%; /* Максимальная ширина изображения - 100% от родителя */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px; 
}

/* Стили для горизонтальной линии */
hr {
    border: 1px solid #DEB887; /* Цвет и стиль линии */
    margin: 20px 0; /* Отступы сверху и снизу линии */
}

/* Стили для списков */
ul, ol {
    margin: 10px 20px; 
}

/* Выделение текста */
mark {
    background-color: #5F9EA0; 
    color: white; 
    padding: 2px 4px; 
    border-radius: 3px; 
    font-weight: bold; 
}

.highlight {
    background-color: #8FBC8F; 
    color: black; 
    border-radius: 3px; 
    display: inline-block; /* Позволяет задать отступы вокруг элемента */
    font-weight: bold; 
}
